img{
  margin: 5px;
  display: inline-flex;
  height: 150px;
  width: auto;
}
body{
    background-color: blue;
    color: white;
    font-family: "helvetica";
}
#intro{
    text-align: center;
    background-color: purple;
    margin: 0px;
}
